build/
tmp/
*.o
*.a
*.sym
*.asm
*.lst
*.dep
sdcc/bin
!sdcc/bin/.gitkeep

gbdk-support/lcc/lcc
maccer/maccer
sdcc/Makefile.common
sdcc/as/mcs51/Makefile
sdcc/config.cache
sdcc/config.log
sdcc/config.status
sdcc/main.mk
sdcc/ports.all
sdcc/ports.build
sdcc/sdccconf.h
sdcc/src/Makefile
sdcc/src/z80/peeph-gbz80.rul
sdcc/src/z80/peeph-z80.rul
sdcc/src/z80/peeph.rul
sdcc/support/cpp2/Makefile
sdcc/support/cpp2/auto-host.h
sdcc/support/cpp2/config.log
sdcc/support/cpp2/config.status
sdcc/support/cpp2/configargs.h
sdcc/support/cpp2/cstamp-h

